.autocomplete-loading {
	background: transparent url(../img/loading.gif) no-repeat 98% ;
}

#meet-invite-list { list-style-type: none; }

.ui-autocomplete{
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(0,0,0,.08);
	width: 300px;
}

.ui-autocomplete .ui-menu-item{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.08);
}

.ui-autocomplete .ui-state-focus{
	background-color: #f4f4f4;
	cursor: pointer;
}

.ui-front {
	z-index: 100;
}
